.search-box {
  display: inline-grid;
  margin: 25px;
}

.button-fetch {
  margin: 10px 0 !important;
}

.box {
  margin: 25px;
  border: 1px solid #bbaeae;
  border-radius: 8px;
  padding: 20px;
  z-index: 1000;
}

.details-title {
  text-align: center;
  color: #8d8f90;
}

.action-buttons {
  float: right;
  margin-bottom: 10px;
}

.top-button {
  margin-left: 10px !important;
}

.content-para {
    color: #383636;
}
